@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes menu-btn {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes l-r {
  0% {
    width: 0;
  }

  100% {
    width: 300px;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
    opacity: 0;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.help__btn:after {
  animation: menu-btn .6s alternate linear .5s 1 both;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.header__top-row {
  animation: opacity .6s alternate linear 1;
}

.consultation__link {
  animation: opacity .6s 1s alternate linear 1 both;
}

.arrow {
  animation: l-r .6s 1.5s alternate linear 1 both;
}

.arrow::after {
  animation: opacity .6s 1.5s alternate linear 1 both;
}

.circle {
  animation: circle .6s 2s alternate linear 1 both;
}


@keyframes rote {
  0% {
    clip: rect(25px, 50px, 50px, 0px);
    /* clip: rect(0px, 50px, 50px, 25px); право */
  }

  100% {
    clip: rect(0, 25px, 50px, 0);
    /* clip: rect(0px, 50px, 25px, 0); верх */
  }
  /* 0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  } */
}


@keyframes round {
  0% {
    clip: rect(0px, 50px, 25px, 25px);
    /* clip: rect(0, 25px, 50px, 0); лево */
  }

  50% {
    clip: rect(0px, 50px, 50px, 25px);
    /* clip: rect(0, 25px, 25px, 0); левая четверть */
  }


/*
  100% {
    /* clip: rect(25px, 50px, 50px, 0px); низ  */


}

.circle::after {
  animation: round  1s 2s alternate 1 ;
  animation-fill-mode: backwards;
}

@keyframes line {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.header__line:after {
  animation: line .7s 2.8s alternate linear 1 both;
}

.line-row__text:nth-child(1) {
  animation: opacity .7s 2.5s alternate linear 1 both;
}

.line-row__text:nth-child(2) {
  animation: opacity .7s 2.6s alternate linear 1 both;
}

.line-row__text:nth-child(3) {
  animation: opacity .7s 2.7s alternate linear 1 both;
}

.line-row__text:nth-child(4) {
  animation: opacity .7s 2.8s alternate linear 1 both;
}
