@font-face {
  font-family: 'SFpro';
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Regular.woff') format('woff');
       font-style: normal;
       font-weight: 400;
}

@font-face {
  font-family: 'SFpro';
  src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Bold.woff') format('woff');
       font-style: normal;
       font-weight: 600;
}

@font-face {
  font-family: 'Robodron';
  src: url('../fonts/RobodronBold.woff2') format('woff2'),
       url('../fonts/RobodronBold.woff') format('woff');
       font-style: normal;
       font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  }

  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }

  img {
  max-width: 100%;
  }

body {
  font-family: 'SFpro', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  background: #E5E5E5;
}

.header {
  max-height: 900px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  /*background: grey;*/
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  width: 100%;
}

.video-container video {
  position: relative;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

.layer img {
  width: 350px;
}

.container__header {
  position: relative;
  height: 100vh;
}

.header__top-row {
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
}

.header__logo {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.main__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
}

.header__menu {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__menu-items {
  display: flex;
  margin-left: auto;
}

.header__menu-item {
  margin-right: 50px;
}

.header__menu-link {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #C7C7C7;
}

.help__btn {
  display: flex;
  align-items: center;
  margin-left: 110px;
  width: 220px;
  height: 220px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 49px;
}

.help__link {
  color: #FEFEFE;
}

.help__menu {
  color: #FEFEFE;
  display: none;
}

.header__title {
  margin-top: 190px;
  font-family: 'Robodron', sans-serif;
  font-style: normal;
  font-size: 113px;
  line-height: 113px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.15);
}

.consultation {
  margin-top: 50px;
}

.main-btn__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #0222A5;
}

.consultation__link {
  color: #FEFEFE;
}

.main-btn__arrow {
  position: relative;
  margin-top: 10px;
  width: 300px;
  border-bottom: 1px solid #0222A5;
}

.arrow {
  border-bottom: 1px solid #E6E6E6;
}

.main-btn__arrow:after {
  position: absolute;
  content: '\203A';
  right: -2px;
  top: -11px;
  color: #0222A5;
}

.arrow:after {
  color: #E6E6E6;
}

.main-btn__circle {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -24px;
  top: -24px;
  border-radius: 50%;
  border: 1px solid #0222A5;
}

.circle {
  border: 1px solid #E6E6E6;
}

.header__line {
  position: absolute;
  top: 750px;
  width: 100%;
  border-top: 1px solid #727272;
}

.header__line-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line-row__text {
  margin-top: -6px;
  padding-top: 20px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #F2F2F2;
  background: url('../img/Ellipse.svg') center top no-repeat;
}

.line-row__text:nth-child(2) {
  padding-top: 70px;
}

.line-row__text:nth-child(3) {
  padding-top: 30px;
}

.line-row__text:nth-child(4) {
  padding-top: 52px;
}

.main {
  padding-bottom: 200px;
}

.special-offer {
  margin-top: 200px;
}

.section__row {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px solid #E6E6E6;
}

.section__name {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #727272;
}

.section__title {
  max-width: 300px;
  font-size: 36px;
  line-height: 43px;
  color: #010101;
}

.section__col {
  width: 600px;
}

.col__item {
  width: 100%;
  display: flex;
  padding: 20px 0 10px;
  border-bottom: 1px solid #E6E6E6;
}

.col__items {
  margin-left: auto;
}

.section__col-2 {
  width: 500px;
}

.special-offer__box_big {
  width: 100%;
  height: 650px;
  text-align: center;
  padding: 50px 0;
  background: #F2F2F2;
}

.sale {
  margin: 10px 0;
  font-size: 14px;
  line-height:18px;
  letter-spacing: 0.04em;
}

.component {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0222A5;
}

.component:after {
  position: absolute;
  content: '';
  top: 55px;
  right: 60px;
  height: 45px;
  width: 23px;
  background: url('../img/Vector.svg') center center no-repeat;background-size: cover;
}

.special-offer__box_small {
  width: 200px;
  height: 280px;
  padding: 20px 0;
  text-align: center;
  background: #F2F2F2;
}

.box-small__img {
  width: 128px;
  height: 240px;
}

.block__view {
  margin-top: 150px;
}

.block__row {
  display: flex;
  justify-content: space-between;
}

.sale_right {
  text-align: right;
}

.special-offer__box {
  height: 270px;
  width: 100%;
  background: #F2F2F2;
  padding: 30px;
  text-align: center;
}

.special-offer__card {
  width: 100%;
  margin-top: 24px;
}

.block__row-pages {
  margin-top: 30px;
  align-items: center;
}

.pages {
  font-size: 14px;
  line-height: 18px;
  color: #727272;
}

.pages__line {
  display: inline-block;
  width: 104px;
  height: 1px;
  background: #E6E6E6;
  margin: 5px 10px;
}

.benefits {
  margin-top: 300px;
}

.benefits__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #010101;
}

.benefits__text {
  margin-top: 10px;
  max-width: 460px;
}

.benefits__img {
  width: 700px;
  height: 500px;
  background: url('../img/Rectangle359.png') center center no-repeat;
  background-size: cover;
  margin-bottom: 200px;
}

.benefits__img-500 {
  width: 500px;
  height: 700px;
  margin-top: 40px;
  margin-bottom: 200px;
  background: url('../img/Rectangle362.jpg') center center no-repeat;
  background-size: cover;
}

.benefits__title-500 {
  max-width: 411px;
}

.benefits__text-500 {
  max-width: 485px;
}

.block__col_right {
  margin-left: auto;
}

.benefits__title-700 {
  max-width: 449px;
}

.benefits__text-700 {
  max-width: 547px;
}

.benefits__img-700 {
  margin-top: 40px;
  background: url('../img/Rectangle364.jpg') center center no-repeat;
  background-size: cover;
}

.expert-img {
  margin-top: 300px;
}

.block__row-home {
  margin-top: 170px;
}

.block__col-300 {
  width: 300px;
}

.col-300__img {
  width: 300px;
  height: 600px;
  background: url('../img/Rectangle405.jpg') center center no-repeat;
  background-size: cover;
}

.block__title {
  margin: 30px 0 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #010101;
}

.block__text {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
}

.main-btn-benefits {
  margin-top: 30px;
}

.main-btn-benefits__link {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #0222A5;
}

.main-btn-benefits__arrow {
  width: 188px;
  margin-top: 7px;
}

.main-btn-benefits__circle {
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
}

.block__text-600 {
  max-width: 223px;
}

.block__title-600 {
  margin-top: 0px;
}

.col-600__img {
  margin-top: 45px;
  width: 600px;
  height: 428px;
  background: url('../img/Rectangle402.jpg') center center no-repeat;
  background-size: cover;
}

.main-btn-600 {
  margin-top: 20px;
}

.difference__section {
  margin-top: 300px;
}

.difference__title {
  max-width: 500px;
}

.difference__text {
  max-width: 365px;
}

.difference__info {
  margin-top: -10px;
}

.accordion__arrow {
  display: block;
  margin-left: auto;
  width: 5px;
  height: 16px;
  background: url('../img/Arrow13.svg') center center no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.safety__section {
  margin-top: 300px;
}

.safety__text {
  max-width: 495px;
}

.safety__section-title {
  width: 200px;
  margin-bottom: 80px;
  text-align: right;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #010101;
}

.safety-section__col-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.safety-block__row {
  margin-top: 200px;
}

.main-btn-safety {
  margin-right: 15px;
}

.safety-block__img {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background: url('../img/Rectangle368.jpg') center center no-repeat;
  background-size: cover;
}

.block__text-400 {
  max-width: 400px;
}

.block__text-385 {
  max-width: 385px;
}

.block__text-more {
  margin-top: 20px;
}

.accordion__arrow-more {
  display: inline-block;
  margin-left: 20px;
  height: 12px;
}

.safety-block__img-500 {
  max-width: 500px;
  height: 600px;
  background: url('../img/unnamed4.jpg') center center no-repeat, #F2F2F2;
}

.safety__section-title_left {
  width: 100%;
  text-align-last: left;
  margin: 0;
}

.safety__section-title_right {
  display: none;
}

.block__text-420 {
  max-width: 420px;
}

.safety-block__img-bg {
  background: url('../img/unnamed2.jpg') center center no-repeat, #F2F2F2;
}

.reviews__section {
  margin-top: 300px;
}

.reviews__img {
  background: url('../img/Rectangle375.jpg') center center no-repeat;
  background-size: cover;
}

.block__text-reviews {
  letter-spacing: 0.04em;
  color: #727272;
}

.reviews__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews-pages {
  margin-top: auto;
}

.callback__section {
  margin-top: 300px;
  display: flex;
  justify-content: flex-end;
}

.callback__title {
  width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.callback__text {
  letter-spacing: 0.04em;
  color: #383838;
}

.callback__col {
  display: flex;
  flex-direction: column;
}

.callback__tel {
  width: 500px;
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 1px solid #010101;
}

.callback__tel input {
  border: none;
  background: inherit;
  width: 120px;
}

.personal-data {
  width: 540px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #727272;
}

.personal-data a {
  color: #0222A5;
}

.callback__btn {
  width: 150px;
  height: 150px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #FEFEFE;
  border: none;
  border-radius: 50%;
  background: #0222A5;
}

.callback__row {
  display: flex;
}

.section__col-700 {
  width: 690px;
}

.footer {
  width: 100%;
  background: #010101;
  padding: 70px 0 26px;
}

.footer__row-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  margin-right: 135px;
  font-family: 'Robodron', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #222222;
}

.footer__menu {
  display: flex;
}

.footer__menu-item {
  margin-right: 20px;
}

.footer__menu-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #C7C7C7;
}

.footer__row-bottom {
  margin-top: 80px;
  display: flex;
}

.footer__bottom-link {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #727272;
  margin-right: 27px;
}

.footer__bottom-link:first-child {
  margin-right: 150px;
}

.footer__col_right {
  margin-left: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.bottom__link-tel {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #FEFEFE;
}

.footer__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #727272;
}

.social__link {
  margin-left: auto;
  padding-right: 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #F74646;
  background: url('../img/up.png') right center no-repeat;
}

/* accordion */

.accordion__item {
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  transition: border-bottom 0.3s ease-in-out;
}

.accordion__item:focus,
.accordion__item:hover {
  border-bottom: 1px solid #010101;
}

.accordion__item_line {
  width: 100%;
  display: flex;
}

.ui-widget {
	font-family: 'SFpro', sans-serif;
  font-weight: 400;
	font-size: 16px;
  line-height: 21px;
  color: #010101;
}

.ui-accordion .ui-accordion-header {
	display: flex;
	cursor: pointer;
	position: relative;
	margin: 0;
  padding: 20px 0 10px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: none;
	background: none;
	font-weight: normal;
	color: #010101;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: none;
	background: none;
	font-weight: normal;
	color: #010101;
}

.ui-widget-content {
	border: none;
	background: none;
	color: #010101;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: none;
	background: none;
	font-weight: normal;
	color: #010101;
}

.ui-state-active .accordion__arrow {
  transform: rotateZ(180deg);
}

.ui-accordion .ui-accordion-content {
  max-width: 390px;
  padding: 10px 0;
	border: none;
	overflow: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
}

.ui-icon {
  width: 0;
  height: 0;
}

.ui-state-focus:focus {
  color: #010101;
}

.section__col-main {
  width: 50%;
}

/* -----------------------------adptive-index.html----------------------------- */
@media (max-width: 1599px) {
  .header__title {
    margin-top: 120px;
    font-size: 100px;
    line-height: 100px;
  }

  .header__line {
    top: 480px;
  }

  .benefits__text {
    margin-right: 20px;
  }

  .section__col {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .video-container video.fillWidth {
    width: auto;
  }

  .header__menu-item {
    margin-right: 30px;
  }

  .help__btn {
    width: 160px;
    height: 160px;
    padding: 19px;
  }

  .header__title {
    font-size: 84px;
    line-height: 84px;
  }

  .consultation {
    margin-top: 30px;
  }

  .main-btn__arrow {
    width: 280px;
  }

  .header__line {
    top: 70vh;
  }

  .component {
    width: 130px;
    height: 130px;
  }

  .section__col-2 {
    width: 400px;
  }

  .component:after {
    top: 40px;
    right: 48px;
  }

  .special-offer__box_small {
    width: 150px;
    padding: 40px 0;
  }

  .box-small__img {
    width: 96px;
    height: 200px;
  }

  .benefits__img {
    width: 450px;
  }

  .benefits__img-1 {
    background: url('../img/Rectangle359.jpg') center center no-repeat;
  }

  .benefits__text {
    max-width: 400px;
  }

  .section__co-450,
  .benefits__img-500 {
    width: 450px;
  }

  .benefits__img-500 {
    margin-top: 100px;
  }

  .benefits__text-500_long {
    position: absolute;
    max-width: 485px;
  }

  .col-600__img,
  .block__col-450 {
    width: 450px;
  }

  .benefits__title {
    max-width: 400px;
  }

  .footer__logo {
    margin-right: 37px;
    font-size: 16px;
    line-height: 16px;
  }

  .footer__menu-item {
    margin-right: 16px;
  }

  .footer__bottom-link:first-child {
    margin-right: 42px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 34px;
  }

  .help__btn {
    margin-left: auto;
    justify-content: center;
  }

  .header__title {
    font-size: 66px;
    line-height: 66px;
  }

  .component {
    width: 100px;
    height: 100px;
  }

  .component:after {
    content: '';
    height: 40px;
    width: 20px;
    top: 30px;
    right: 35px;
  }

  .section__col-2 {
    width: 320px;
  }

  .box_big-img {
    width: 200px;
    height: 390px;
  }

  .benefits__img-500 {
    width: 450px;
    margin-top: 40px;
  }

  .col-600__img,
  .block__col-450,
  .section__col-450 {
    width: 350px;
  }

  .benefits__text-500_long {
    position: relative;
    margin-right: 0;
  }

  .col-300__img,
  .block__col-300 {
    width: 250px;
  }

  .main-btn-benefits__arrow {
    width: 188px;
  }

  .benefits__title {
    width: 320px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 800px) {
  .header__menu-items {
    display: none;
  }

  .help__link {
    display: none;
  }

  .benefits__text {
    max-width: 330px;
  }

  .benefits__img {
    width: 350px;
  }

  .benefits__img-500 {
    width: 350px;
    margin-top: 40px;
  }

  .help__menu {
    display: block;
  }

  .footer {
    padding: 55px 0 35px;
  }

  .footer__row-top,
  .footer__menu {
    flex-direction: column;
  }

  .footer__menu {
    margin-top: 14px;
  }

  .footer__menu-item {
    margin-top: 16px;
  }

  .footer__row-bottom {
    margin-top: 30px;
    flex-direction: column;
  }

  .footer__bottom-link {
    margin-bottom: 16px;
    margin-right: 0;
  }

  .footer__bottom-link:first-child {
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 32px;
    order: 2;
  }

  .social__link {
    order: 3;
    margin-top: -20px;
  }

  .footer__logo {
    margin-top: -50px;
  }

  .footer__col_right {
    order: -1;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }

  .header__top-row {
    height: 80px;
  }

  .header__logo {
    width: 20px;
    height: 20px;
  }

  .header__menu {
    font-size: 14px;
    line-height: 18px;
  }

  .help__btn {
    width: 118px;
    height: 118px;
  }

  .header__title {
    margin-top: 60px;
    font-size: 41px;
    line-height: 41px;
  }

  .main-btn__link {
    font-size: 14px;
    line-height: 18px;
  }

  .main-btn__arrow {
    width: 200px;
  }

  .header__line {
    border: none;
    top: 85vh;
  }

  .header__line-row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .line-row__text {
    position: relative;
    padding-top: 0;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
    margin-right: 40px;
    background: none;
  }

  .line-row__text:after {
    position: absolute;
    content: '';
    top: -2px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #222222;
  }

  .line-row__text:nth-child(2),
  .line-row__text:nth-child(3),
  .line-row__text:nth-child(4) {
    padding-top: 0;
  }

  .line-row__text:nth-child(odd) {
    margin-right: 40px;
  }

  .special-offer {
    margin-top: 145px;
    font-size: 12px;
    line-height: 16px;
  }

  .section__title {
    width: 175px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  .col__item {
    padding: 10px 0;
  }

  .offer-col__items {
    width: 55%;
  }

  .section__col_small {
    width: 45%;
  }

  .component {
    width: 70px;
    height: 70px;
  }

  .component:after {
    top: 23px;
    right: 27px;
    width: 11px;
    height: 21px;
  }

  .section__col-2 {
    width: 220px;
  }

  .special-offer__box_small {
    width: 110px;
    height: 218px;
  }

  .box-small__img {
    width: 76px;
    height: 138px;
  }

  .special-offer__col {
    width: 200px;
  }

  .special-offer__box_big {
    height: 100%;
    margin-left: auto;
    padding: 132px 0;
  }

  .box_big-img {
    width: 116px;
    height: 226px;
  }

  .block__row-pages {
    margin-top: 55px;
  }

  .pages__line {
    width: 57px;
  }

  .difference__section {
    margin-top: 200px;
  }

  .benefits {
    margin-top: 200px;
    font-size: 12px;
    line-height: 16px;
  }

  .section__name {
    margin-bottom: 40px;
  }

  .benefits__content {
    max-width: 220px;
    margin-right: 20px;
  }

  .benefits__title {
    max-width: 220px;
  }

  .benefits__img {
    height: 300px;
    margin-bottom: 150px;
  }

  .benefits__img-500 {
    width: 440px;
    height: 300px;
    margin-bottom: 150px;
  }

  .benefits__img-700 {
    width: 200px;
    height: 350px;
    margin: 0;
  }

  .block__col_right {
    display: flex;
  }

  .expert-img {
    margin-top: 200px;
  }

  .col-300__img,
  .block__col-300 {
    width: 190px;
  }

  .col-300__img {
    height: 480px;
  }

  .block__col-450,
  .section__col-450 {
    width: 200px;
  }

  .col-600__img {
    width: 200px;
    height: 319px;
  }

  .block__title {
    font-size: 24px;
    line-height: 29px;
  }

  .block__text {
    font-size: 12px;
    line-height: 16px;
  }

  .main-btn-benefits__arrow {
    width: 188px;
  }

  .main-btn-benefits__arrow:after {
    top: -8px;
  }

  .home-btn__arrow {
    width: 178px;
  }

  .difference__row {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .difference__title {
    max-width: 100%;
    width: 100%;
  }

  .difference__info {
    margin-top: 0;
    width: 100%;
  }

  .accordion__col {
    width: 100%;
  }

  .safety__title {
    width: 320px;
  }

  .safety-block__row {
    flex-direction: column;
    margin-top: 100px;
  }

  .safety-section__col-2 {
    width: 100%;
  }

  .safety__section-title {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }

  .main-btn__hidden {
    display: none;
  }

  .section__col_max {
    width: 100%;
  }

  .block__text-420 {
    max-width: 100%;
  }

  .safety__section-title_right {
    display: block;
  }

  .safety__section-title_left {
    display: none;
  }

  .reviews__section {
    margin-top: 200px;
  }

  .reviews__img {
    height: 359px;
  }

  .reviews__col {
    width: 200px;
  }

  .callback__section {
    margin-top: 150px;
    justify-content: start;
  }

  .section__col-700 {
    width: 100%;
  }

  .callback__title {
    max-width: 220px;
    font-size: 18px;
    line-height: 21px;
  }

  .callback__text {
    max-width: 220px;
  }

  .callback__tel {
    max-width: 220px;
    margin-top: 30px;
  }

  .personal-data {
    max-width: 220px;
  }

  .callback__btn {
    width: 130px;
    height: 130px;
  }

  .callback__row {
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media (max-width: 479px) {
  .container {
    padding: 0 10px;
  }

  .header {
    height: 560px;
  }

  .header__title {
    margin-top: 60px;
    font-size: 28px;
    line-height: 28px;
  }

  .header__line {
    position: relative;
    margin-top: 30px;
    top: 0;
  }

  .line-row__text {
    color: #010101;
    margin-bottom: 30px;
  }

  .line-row__text:after {
    top: -4px;
  }

  .special-offer {
    margin-top: 55vh;
  }

  .section__row {
    flex-direction: column;
    align-items: start;
  }

  .section__col {
    width: 100%;
  }

  .section__col_small {
    margin-bottom: 20px;
  }

  .block__view {
    margin-top: 50px;
  }

  .block__row-direction {
    flex-direction: column;
  }

  .special-offer__card_small {
    margin-top: 43px;
  }

  .section__col-2 {
    width: 150px;
  }

  .special-offer__box_small {
    width: 150px;
  }

  .special-offer__col {
    width: 140px;
  }

  .special-offer__box_big {
    height: 330px;
    padding-top: 90px;
    padding-bottom: 84px;
  }

  .box_big-img {
    width: 80px;
    height: 155px;
  }

  .sale {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .sale_right {
    text-align: left;
  }

  .block__row-pages {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }

  .pages {
    margin-left: auto;
    margin-bottom: 50px;
  }

  .pages__line {
    width: 80px;
    margin: 5px 18px;
  }

  .main-btn {
    margin-right: auto;
  }

  .benefits {
    margin-top: 150px;
  }

  .benefits__title {
    max-width: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }

  .benefits__title-700 {
    font-size: 16px;
    line-height: 19px;
  }

  .benefits__content {
    max-width: 100%;
    margin-right: 0;
  }

  .benefits__text {
    margin-right: 0;
  }

  .benefits__img-1 {
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 130px;
    background-size: cover;
  }

  .section__col-2 {
    width: 100%;
  }

  .benefits__img-500 {
    width: 300px;
    height: 200px;
    margin-bottom: 130px;
  }

  .benefits__img-700 {
    margin-top: 30px;
    width: 300px;
    height: 200px;
  }

  .expert-img {
    margin-top: 130px;
  }

  .block__row-home {
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  .col-600__img {
    width: 300px;
    height: 200px;
    margin-bottom: 70px;
  }

  .block__col-300_reverse {
    display: flex;
    flex-direction: column;
  }

  .col-300__img {
    order: 4;
    margin-top: 50px;
    width: 300px;
    height: 200px;
    background: url('../img/Rectangle45.jpg') center center no-repeat;
  }

  .safety__section-title {
    font-size: 16px;
    line-height: 19px;
  }

  .safety-block__row {
    margin-top: 50px;
  }

  .safety-block__img {
    width: 300px;
    height: 200px;
  }

  .safety-block__img-500,
  .safety-block__img-bg {
    width: 300px;
    height: 252px;
    background-size: contain;
  }

  .safety-block__img-500 {
    background: url('../img/unna\ 4.jpg') center center no-repeat, #F2F2F2;
  }

  .safety-block__img-bg {
    background: url('../img/unna2.jpg') center center no-repeat, #F2F2F2;
  }

  .reviews__img {
    width: 150px;
    height: 250px;
    background: url('../img/Rectangle375.jpg') center center no-repeat;
    background-size: cover;

  }

  .reviews__section {
    margin-top: 130px;
  }

  .block__row-reviews {
    order: 2;
  }

  .reviews-pages {
    margin-top: 11px;
    margin-left: 0;
  }

  .reviews-component {
    margin-top: -70px;
  }

  .callback__tel {
    width: 159px;
    font-size: 14px;
    line-height: 18px;
  }

  .callback__tel input {
    width: 100px;
  }

  .personal-data {
    width: 159px;
  }

  .callback__btn {
    margin-left: -50px;
    width: 90px;
    height: 90px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }

  .main {
    padding-bottom: 100px;
  }

  .footer__logo {
    margin-top: 0;
  }

  .footer__col_right {
    order: 1;
    margin-top: 20px;
    text-align: left;
    margin-left: 0;
  }

  .footer__menu {
    order: 2;
  }

  .social__link {
    order: 1;
    margin: 18px 0;
    background: url('../img/up.png') 72px center no-repeat;
  }

  .section__col-main {
    width: 100%;
  }
}




/* -----------------------------catalog.html-style---------------------------- */
.header__menu-link_grey {
  color: #222222;
}

.help__btn-light {
  background: #F2F2F2;
}

.help__link_gray {
  color: #222222;
}

.header__nav {
  display: flex;
  margin-top: 115px;
}

.nav__link {
  font-size: 14px;
  line-height: 18px;
  color: #9A9A9A;
}

.nav__link_active {
  color: #222222;
}

.nav__item:not(:last-child):after {
  content: '/';
  color: #9A9A9A;
  padding: 0 8px;
}

.filter__section {
  margin-top: 20px;
}

.filter__btn {
  width: 200px;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  border: none;
  background: #E6E6E6;
}

.filter__btn_active {
  color: #FFFFFF;
  background: #010101;
}

.filter__select {
  width: 200px;
  height: 40px;
}

.filter__row-radio {
  max-width: 630px;
  margin-top: 20px;
  align-items: center;
}

.filter__radio {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.filter__label {
  width: 200px;
  height: 40px;
  padding: 10px 0;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #222222;
}

.filter__label:not(:first-child) {
  margin-left: 15px;
}

.filter__row_bottom {
  display: flex;
  margin-top: 100px;
  width: 370px;
}

.filter__radio_small {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.filter__label_active {
  color: #010101;
}

:root {
  --container-max-width: 1300px;
  --container-padding: 50px;
  --columns: 3;
  --gutter: 45px;
}

.filter__result {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.filter__result-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--container-padding)* -0.5);
  margin-right: calc(var(--container-padding)* -0.5);
  /* margin-bottom: 280px; */
}

.col-1 {
  flex-grow: 0;
  /* height: 450px; */
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
  flex-basis: calc(100% / var(--columns));

}

.filter__box {
  height: 100%;
  text-align: center;
  margin-bottom: 280px;
}

.filter-box__content {
  position: relative;
  width: 100%;
  height: 487px;
  padding-top: 40px;
  text-align: center;
  background: #F2F2F2;
}

.box__label {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  padding-top: 16px;
  background: #0222A5;
  font-size: 14px;
  line-height: 18px;
  color: #FEFEFE;
}

.filter-box__img {
  margin-top: 20px;
  height: 100%;
  background: url('../img/img.jpg') center top no-repeat;
}

.filter-box__img-1 {
  margin-top: 20px;
  height: 100%;
  background: url('../img/img-1.jpg') center top no-repeat;
}

.filter-box__img-2 {
  margin-top: 20px;
  height: 100%;
  background: url('../img/img-3.jpg') center top no-repeat;
}

.filter-box__title {
  font-size: 18px;
  line-height: 23px;
  color: #010101;
}

.filter-box__info {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #727272;
}

.filter-box__content_down {
  margin-top: 70px;
}

.old__sale {
  margin-right: 14px;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #727272;
}

.filter__sale {
  padding-top: 10px;
  font-size: 16px;
  line-height: 21px;
  color: #010101;
}

.catalog-ofert__section {
  background: #FEFEFE;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 100px 0 150px;
}

.newcomer__section {
  position: relative;
  margin-bottom: 250px;
}

.newcomer__section-row {
  display: flex;
  width: 100%;
  height: 500px;
}

.newcomer__section-col {
  width: 49%;
  background: #010101;
}

.newcomer__section-col_long {
  width: 51%;
  background: url('../img/baner.jpg') center center no-repeat;
  background-size: cover;
}

.action__container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.newcomer__container {
  width: 100%;
  padding: 40px 0;
}

.newcomer__close {
  text-align: right;
  color: #727272;
  font-size: 20px;
}

.newcomer__title {
  margin-top: 95px;
  width: 375px;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #727272;
}

.newcomer-btn {
  margin-top: 30px;
}

.newcomer-btn__link {
  color: #FEFEFE;
}

.newcomer-btn__arrow {
  width: 284px;
  border-bottom: 1px solid #FEFEFE;
}

.newcomer-btn__arrow:after {
  color: #FEFEFE;
}

.newcomer-btn__circle {
  border: 1px solid #FEFEFE;
}

.newcomer__bullet {
  margin-top: 57px;
  display: flex;
}

.bullet {
  display: block;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #222222;
}

.bullet__active {
  background: #222222;
}

.filter__nav {
  margin-top: 100px;
  width: 100%;
}

.filter__nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: #010101;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #FEFEFE;
  cursor: pointer;
}

.filter__link-more {
  position: absolute;
  width: 100%;
  height: 100%;
}

.filter__nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 200px;
}

.filter__link-arrow_right,
.filter__link-arrow {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #C7C7C7;
}

.filter__link-arrow:after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: url('../img/Vector.png');
  padding: 10px 12px;
}

.filter__link-arrow_right:after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: url('../img/Vector.png');
  transform: rotate(180deg);
  padding: 10px 8px;
}

.filter__link {
  color: #727272;
}

.filter__link_active {
  color: #010101;
}

.catalog-ofert__row {
  display: flex;
}

.catalog-ofert__row .col__item {
  width: 270px;
  font-size: 14px;
  line-height: 18px;
}

.catalog-ofert__row .block__col-300 {
  margin-right: 70px;
}

.filter__btn-menu {
  display: none;
}

/* --------------------------catalog.html-adaptive-------------------------------- */
 @media (max-width: 1200px) {
  :root {
    --container-max-width: 1000px;
    --container-padding: 15px;
    --columns: 3;
    --gutter: 15px;
  }

  .filter__btn {
    width: 150px;
  }

  .filter__select {
    width: 178px;
  }

  .filter__label {
    width: 178px;
  }

  .filter-box__img,
  .filter-box__img-2,
  .filter-box__img-1 {
    width: 126px;
    height: 311px;
    background-size: cover;
  }

  .filter-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter-box__content_down {
    margin-top: 50px;
  }

  .filter__box {
    margin-bottom: 200px;
  }
 }

 @media (max-width: 960px) {
  :root {
    --container-max-width: 1000px;
    --container-padding: 15px;
    --columns: 2;
    --gutter: 40px;
  }

  .filter__col {
    display: none;
  }

  .filter__btn-menu {
    width: 47%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    color: #FEFEFE;
    background: url('../img/filter.svg') 95% center no-repeat, #0222A5;
 }

  .filter-box__content_down {
    margin-top: 0;
  }

  .filter__box {
    margin-bottom: 150px;
  }

  .catalog-ofert__row {
    margin-top: -49px;
    flex-direction: column;
  }

  .unique__row {
    margin-left: auto;
  }

  .block__row_line {
    border-bottom: 1px solid #E6E6E6;
  }

  .catalog-ofert__row .col__item {
    width: 320px;
  }

  .newcomer__close {
    display: none;
  }

  .newcomer__title {
    margin-top: 70px;
    width: 370px;
    font-weight: 300;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 24px;
  }

  .newcomer__section-row {
    height: 350px;
  }

  .newcomer-btn__arrow {
    width: 280px;
  }

  .newcomer__section-col {
    width: 55%;
    background: #010101;
  }

  .newcomer__section-col_long {
    width: 45%;
    background: url('../img/baner.jpg') 30% center no-repeat;
    background-size: cover
  }

  .col__item_first {
    border: none;
  }

  .special-offer__box-img {
    width: 84px;
    height: 178px;
  }

  .catalog__box-small {
    width: 130px;
    height: 280px;
  }
 }

@media (max-width: 767px) {
  .catalog-ofert__row {
    margin-top: -39px;
  }

  .catalog-ofert__row  .block__col-300 {
    margin-right: 130px;
  }

  .newcomer__section-row {
    flex-direction: column-reverse;
    height: 600px;
  }

  .newcomer__section-col,
  .newcomer__section-col_long {
    width: 100%;
    height: 300px;
  }

  .newcomer__section-col_long {
    background: url('../img/baner.jpg') center center no-repeat;
    background-size: cover;
  }

  .newcomer__section-col {
    background: #010101;
  }

  .newcomer__title {
    margin-top: 320px;
  }
}

@media (max-width: 600px) {
  :root {
    --container-max-width: 600px;
    --container-padding: 15px;
    --columns: 2;
    --gutter: 20px;
  }

  .filter-box__img,
  .filter-box__img-2,
  .filter-box__img-1 {
    width: 116px;
    height: 245px;
    background-size: cover;
  }

  .filter-box {
    margin-bottom: 130px;
  }

  .filter-box__content {
    height: 429px;
  }

  .filter__sectio-row {
    display: flex;
    flex-direction: column;
  }

  .filter__btn {
    width: 49%;
  }

  .filter__btn-menu {
    width: 100%;
    margin-top: 20px;
  }

  .filter__nav-item:nth-child(n+5):nth-child(-n+6) {
    display: none;
  }

  .filter__nav-row {
    margin-bottom: 150px;
  }

  .special-offer__box_small {
    width: 110px;
    height: 218px;
  }

  .special-offer__box-img {
    width: 76px;
    height: 138px;
  }

  .section__col {
    width: 200px;
}

  .special-offer__box_big {
    height: 100%;
    margin-left: auto;
    padding: 132px 0;
  }

  .box-big__img {
    width: 116px;
    height: 226px;
  }

  .catalog-ofert__row .block__col-300 {
    margin-right: 50px;
  }

  .catalog-ofert__row .col__item {
    width: 240px;
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  .filter__row_bottom {
    margin-top: 50px;
  }

  :root {
    --container-max-width: 500px;
    --container-padding: 10px;
    --columns: 1;
    --gutter: 10px;
  }

  .filter-box__content {
    height: 364px;
  }

  .filter-box__img,
  .filter-box__img-2,
  .filter-box__img-1 {
    width: 96px;
    height: 200px;
  }

  .filter__box {
    margin-bottom: 100px;
  }

  .filter__sale {
    text-align: right;
    font-size: 14px;
    line-height: 18px;
  }

  .old__sale {
    font-size: 12px;
    line-height: 14px;
  }

  .col-1:nth-child(n+8) {
    display: none;
  }

  .catalog-ofert__row {
    margin-top: 0;
  }

  .col__item_first {
    border-bottom: 1px solid #E6E6E6;
  }

  .block__row_line {
    border: none;
  }

  .unique__row {
    margin-left: 0;
  }

  .special-offer__box_small {
    width: 150px;
    height: 218px;
  }

  .card__hidden {
    display: none;
  }

  .section__col {
    width: 140px;
  }

  .special-offer__box_big {
    margin-left: 0;
    padding: 90px 0 80px;
    height: 332px;
  }

  .box-big__img {
    width: 80px;
    height: 155px;
  }

  .pages {
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .section__col-2 {
    width: 150px;
    margin-right: 10px;
  }

  .newcomer__section-col {
    height: 256px;
  }

  .newcomer__section-col_long {
    height: 210px;
  }

  .newcomer__section-row {
    height: 100%;
  }

  .newcomer__container {
    height: 100%;
  }

  .newcomer__title {
    width: 300px;
    margin-top: 180px;
    font-size: 16px;
    line-height: 19px;
  }

  .newcomer-btn__arrow {
    width: 229px;
  }

  .view-btn__arrow:after {
    top: -8px;
  }

  .filter__label {
    width: 140px;
    font-size: 10px;
  }

  .filter__row_bottom {
    width: 100%;
  }

}
/* --------------------card-standart.html-style---------------------------------- */
.card__section {
  padding: 40px 0 200px;

}

.card__row_line {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.card__row {
  display: flex;
}

.card-price__old {
  margin-top: 30px;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #727272;
}

.card__price {
  font-size: 20px;
  line-height: 24px;
  color: #070707;
}

.card__econom {
  margin-top: 20px;
  padding: 11px 45px;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: #D62D30;
}

.card__sale {
  width: 230px;
}

.card__order {
  position: relative;
  width: 180px;
  height: 180px;
  margin-top: 30px;
  padding: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #0222A5;
  border-radius: 50%;
  cursor: pointer;
}

.card__order-text {
  font-size: 16px;
  line-height: 21px;
  color: #010101;
}

.card__order-text:after {
  position: absolute;
  content: url('../img/Arrow15.svg');
  width: 100px;
  background: #E5E5E5;
  top: 35%;
  padding: 20px 0;
}

.card__order-link {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card__consultation {
  width: 157px;
  margin-top: 70px;
  padding: 10px 0;
  border-top: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7;
}

.consultation__link_gray {
  color: #222222;
}

.card__col {
  margin-right: 180px;
}

.card__img {
  width: 275px;
  height: 540px;
  margin-right: 20px;
  background: url('../img/Rectangle36.jpg') center center no-repeat;
}

.card__img-preview {
  width: 100px;
  height: 100px;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  background-position: center center;
}

.card__img-preview:not(:last-child) {
  margin-bottom: 10px;
}

.card__img-preview_active {
  background: inherit;
  border: 1px solid #E6E6E6;
}

.card__img-preview-1 {
  background: url('../img/obivka-dverej.jpg') center center no-repeat;
}

.card__img-preview-2 {
  background-image: url('../img/dverej-.jpg');
}

.card__img-preview-3 {
  background-image: url('../img/T52.png');
}

.card__img-preview-4 {
  background-image: url('../img/T52-1.png');
}

.card__img-preview-5 {
  background-image: url('../img/104_enl1.png');
}

.card__plus {
  margin-top: 150px;
  width: 260px;
  margin-right: 45px;
  padding-right: 78px;
}

.card__plus:not(:last-child) {
  border-right: 1px solid #C7C7C7;
}

.card__plus-numb {
  font-size: 14px;
  line-height: 18px;
  color: #0222A5;
}

.card__plus-tatle {
  margin-top: 55px;
  width: 180px;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #010101;
}

.card-service__section {
  background: #F2F2F2;
  padding-top: 50px;
}

.card-service__title {
  font-size: 18px;
  line-height: 23px;
  color: #727272;
}

.card-service__row {
  padding: 50px 0;
}

.card-service__row:not(:last-child) {
  border-bottom: 1px solid #C7C7C7;
}

.card-service__img {
  width: 400px;
  height: 200px;
}

.card-service__row-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.card-service__row-text {
  width: 360px;
}

.card-service__img-1 {
  background: url('../img/Rectangle803.png') center center no-repeat;
}

.card-service__img-2 {
  background: url('../img/1-21.png') center center no-repeat, #FEFEFE;
}

.card-service__img-3 {
  background: url('../img/WD-40-420.png') center center no-repeat, #FEFEFE;
}

.card-options__section {
  background: #E5E5E5;
  padding: 250px 0 200px;
}

.options__item {
  height: 60px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  color: #010101;
  border-bottom: 1px solid #010101;
  border-right: 1px solid #010101;
}

.options__item_active {
  background: #010101;
  color: #FEFEFE;
}

.card__option {
  margin-top: 50px;
  display: none;
}

.card__option_active {
  display: block;
}

.card-option__item {
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
  border-bottom: 1px solid #E6E6E6;
  padding: 0 20px 10px;
  color: #727272;
}

.card-option__item:last-child {
  padding: 0 0 0 15px;
}

.card-option__item:first-child {
  padding: 0 15px 0 0;
}

.card-option__item_active {
  color: #010101;
  border-bottom: 1px solid #010101;
}

.options__table {
  display: none;
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}

.options__table_hidden {
  display: table;
}

.options__table td {
  width: 100%;
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  color: #212121;
}

.options__table tr:nth-child(odd) {
  background: #E6E6E6;
}

.card-option__content {
  margin-top: 10px;
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #424242;
}

.card-option__title {
  max-width: 750px;
}

.garant__row {
  margin-top: 70px;
  display: flex;
}

.garant__col {
  width: 550px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.garanr__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #0222A5;
  margin-bottom: 4px;
}

.garant__text {
  max-width: 500px;
  padding: 16px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #010101;
}

.garant__item {
  width: 100%;
}

.card__bg {
  position: relative;
  width: 100%;
  height: 500px;

}

.card__bg::after {
  position: absolute;
  content: '';
  height: 500px;
  width: 1000%;
  top: 0;
  left: -100%;
  right: -100%;
  background: #010101;
}

.card__bg::before {
  position: absolute;
  content: '';
  z-index: 9999;
  right: -15vw;
  height: 500px;
  width: 486px;
  background: url('../img/montazh-vhodnoj-dveri.jpg') right center no-repeat;
  background-size: cover;
}


.garant__item:not(:last-child) {
  border-bottom: 1px solid #E6E6E6;
}

.add-options__section {
  background: #F2F2F2;
  padding: 50px 0;
  font-size: 14px;
  line-height: 18px;
}

.add-options__card {
  margin-top: 50px;
}

.add-options__card-img {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.add-options__card-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url('../img/arrow5.png') center center no-repeat, #0222A5;
}

.add-options__card-img-1 {
  background: url('../img/53.jpg') center center no-repeat;
}

.add-options__card-img-2 {
  background: url('../img/53-1.jpg') center center no-repeat;
}

.add-options__card-img-3 {
  background: url('../img/53-2.jpg') center center no-repeat;
}

.add-options__card-img-4 {
  background: url('../img/53-3.jpg') center center no-repeat;
}

.add-options__card-img-5 {
  background: url('../img/53-4.jpg') center center no-repeat;
}

.add-options__title {
  margin-top: 150px;;
}

.add-options__col {
  margin-top: 22px;
  width: 560px;
}

.add-options__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #E6E6E6;
}

.card-block__text {
  color: #727272;
}

.work__section {
  background: #E5E5E5;
  padding: 250px 0;
  font-size: 14px;
  line-height: 18px;
}

.card__work {
  width: 303px;
  padding-right: 30px;
  margin-right: 73px;
}

.card__work-text {
  margin-top: 10px;
  color: #222222;
}

.visualization__section {
  background: #010101;
  padding: 65px 0;
  font-size: 14px;
  line-height: 18px;
}

.visualization__title {
  margin-top: 115px;
  color: #F2F2F2;
}

.visualization__text {
  width: 320px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #C7C7C7;
}

.visualizationr-btn__arrow:after {
  top: -10px;
}

.visualization-img {
  width: 590px;
  height: 470px;
}

.payment__section {
  padding: 250px 0 200px;
  font-size: 14px;
  line-height: 18px;
}

.card__payment {
  width: 440px;
  margin-top: 50px;
  padding-right: 10px;
}

.card__payment-text {
  margin-top: 55px;
}

.sentence__conteiner {
  margin-top: 270px;
}

.sentens__row {
  margin-top: 50px;
  margin-bottom: 40px;
}

.sentens__nav {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
}

.sentens__nav-item {
  position: relative;
  display: flex;
}

.sentens__nav_left {
  width: 100px;
  height: 22px;
  background: url('../img/Arrow15.svg') center center no-repeat;
  transform: scaleX(-1);
}

.sentens__nav_right {
  width: 100px;
  height: 22px;
  background: url('../img/Arrow15.svg') center center no-repeat;
}

.sentens__nav-link {
  position: absolute;
}




/* -------------------adaptive-card-standart.html-------------------------------------- */
@media (max-width:1200px) {
  .card__plus {
    margin-right: 13px;
    padding-right: 13px;
  }

  .card-option__item {
    font-size: 11px;
    line-height: 14px;
    padding: 0 0 19px 0;
  }

  .add-options__card-img {
    width: 150px;
    height: 157px;
  }

  .add-options__col {
    width: 440px;
  }

  .visualization__section {
    padding: 117px 0;
  }

  .visualization-img {
    width: 459px;
    height: 366px;
  }

  .visualization__title {
    margin-top: 53px;
  }
}

@media (max-width:1024px) {
  .header__nav {
    margin-top: 70px;
  }

  .card-section__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  .card__econom {
    width: 193px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 29px;
  }

  .card__order {
    width: 130px;
    height: 130px;
    padding: 8px;
  }

  .card__order-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .card__order-text:after {
    top: 28%;
    width: 80px;
  }

  .card__consultation {
    width: 140px;
    margin-top: 23px;
  }

  .consultation__link_gray {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .card__img {
    width: 224px;
    height: 440px;
    background-size: cover;
  }

  .card__col {
    margin-right: 104px;
  }

  .card__img-preview {
    width: 80px;
    height: 80px;
  }

  .card__plus {
    margin-top: 100px;
  }

  .card__plus-tatle {
    width: 120px;
    font-size: 11px;
    line-height: 14px;
  }

  .card__plus {
    margin-right: 33px;
    padding-right: 33px;
  }

  .card__section {
    padding: 40px 0 150px;
  }

  .options__item {
    height: 40px;
    font-size: 11px;
    line-height: 14px;
  }

  .card-options__section {
    padding: 200px 0 100px;
  }

  .card-option__item {
    width: 100px;
    white-space: normal;
  }

  .add-options__row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .add-options__card {
    margin-right: 30px;
  }

  .add-options__card-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #222222;
  }

  .add-options__title {
    margin-top: 100px;
  }

  .add-options__col {
    width: 310px;
  }

  .add-options__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .work__section {
    padding: 150px 0;
    font-size: 10px;
    line-height: 13px;
  }

  .visualization__section {
    padding: 79px 0;
  }

  .visualization-img {
    width: 369px;
    height: 294px;
  }

  .visualization__title {
    width: 300px;
    margin-top: 38px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
  }

  .visualization__text {
    width: 280px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }

  .newcomer-btn__arrow {
    width: 242px;
  }

  .newcomer-btn__link {
    font-size: 16px;
    line-height: 21px;
  }

  .payment__section {
    padding: 200px 0;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.04em;
  }

  .sentence__conteiner {
    margin-top: 150px;
  }

  .sentens__row .col-1:last-child {
    display: none;
  }

  .sentens__nav {
    margin-top: -150px;
  }
}

@media (max-width: 700px) {
  .nav__link {
    font-size: 12px;
    line-height: 16px;
  }

  .header__nav {
    margin-top: 35px;
  }

  .section__row {
    padding-bottom: 33px;
  }

  .card__row_line {
    flex-direction: column-reverse;
    align-items: center;
  }

  .card__section {
    padding: 20px 0 150px;
  }

  .card__img {
    width: 160px;
    height: 314px;
  }

  .card__img-preview {
    width: 55px;
    height: 55px;
    background-size: contain;
  }

  .card__col {
    margin-right: 0;
    margin-top: 30px;
  }

  .card-block__row {
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
  }

  .card__row_line {
    border: none;
  }

  .card__col {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-price {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .card-price__old {
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 10px;
  }

  .card__price {
    font-size: 18px;
    line-height: 23px;
  }

  .card__row {
    flex-wrap: wrap;
  }

  .card__plus {
    width: 190px;
    margin-right: 28px;
    padding-right: 0;
  }

  .card__plus:nth-child(2n) {
    border: none;
  }

  .card-service__section {
    padding-top: 30px;
  }

  .card-service__title {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 30px;
  }

  .card-service__row {
    padding: 30px 0;
    flex-direction: column;
  }

  .card-service__row {
    border-top: 1px solid #C7C7C7;
    border-bottom: none;
  }

  .card-service__row-title {
    font-size: 18px;
    line-height: 23px;
  }

  .card-service__row-text {
    width: 300px;
    margin-bottom: 20px;
  }

  .card-service__img {
    width: 300px;
    height: 125px;
    background-size: contain;
  }

  .card-service__img-1 {
    background-size: cover;
  }

  .card-options__row {
    flex-wrap: wrap;
  }

  .options__item {
    width: 220px;
  }

  .card-option__row {
    height: 100px;
  }

  .card-option__item {
    writing-mode: vertical-rl;
    width: 15%;
  }

  .available__col {
    flex-direction: column;
  }

  .add-options__col:last-child {
    margin-top: 0;
  }

  .card__work:nth-child(n) {
    width: 100%;
    border-right: none;
    border-right: none;
    border-bottom: 1px solid #C7C7C7;
  }

  .card__work-text {
    margin-bottom: 20px;
    width: 220px;
  }

  .visualization__row {
    flex-direction: column-reverse;
  }

  .visualization-img {
    width: 100%;
    height: 350px;
  }

  .card__payment-text {
    width: 250px;
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .header__nav {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card__plus-tatle {
    width: 110px;
  }

  .card__plus {
    width: 120px;
  }

  .options__item {
    width: 150px;
  }

  .options__table td {
    flex-direction: column;
  }

  .add-options__col {
    width: 100%;
  }

  .visualization-img {
    height: 239px;
  }

  .sentens__nav {
    margin-top: -100px;
  }

  .sentens__nav_left {
    width: 20px;
    background-position-x: right;
    margin-right: 10px;
  }

  .sentens__nav_right {
    width: 20px;
    background-position-x: right;
    margin-left: 10px;
  }

  .sentens__nav-item {
    align-items: center;
  }
}
